@{
    ViewData["Title"] = "Music";
}

@section CSS  {
    <link href="~/css/media/music.min.css" rel="stylesheet" />
}

<div class="container">
    <h2 class="page-header"><i class="fa fa-music"></i> Music</h2>
    <iframe class="audio-embed" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/728213626&color=%236babd3&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>
