$color-white: #FFFFFF;
$color-transparent-white: rgba(255, 255, 255, 0.5);
$color-blue: #6babd3;
$color-dark-blue: #408bbf;

$margin-std: 16px;
$padding-std: 16px;

@mixin mobile-only {
    @media (max-width: 575px) {
        @content;
    }
}

@mixin gte-small {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin gte-medium {
    @media (min-width: 768px) {
        @content;
    }
}